{% extends "layout.html" %}
{% block title %}
    Contact Us
{% endblock %}
{% block content %}
<p>
    <h1>A Life Can Be An Open Book, 
    But A Mind Most Certainly Isn’t. 
    </h1>
<h3>Our Story</h3>

A few weeks ago, Max van Duyne was in a bad place mentally. He felt anxious and depressed; laying awake at night criticizing the smallest mistakes and negative personality traits. He wanted to seek professional help, however he moves often and had a bad experience with tele-therapists in the past. That’s when he developed the idea. A self-therapy app, powered by machine learning, that analyzes and displays his thoughts and emotions more clearly than he can internally. 
<br><br>
At TreeHacks 2020, he met Kelly Chan and Bi Nguyen, both Data Science students from UC Davis. They met Max at his challenge and all three dove into the unknown, creating what is now known as Open Book. 

<h3>Open Book: A Dissection</h3>
Open Book is a web application built off of Microsoft Azure App Engine, using Python, JavaScript, and HTML/CSS. 

<h3>Why Open Book Matters</h3>
Max is not the only one dealing with anxiety and depression. According to Johns Hopkins Medicine, almost one in four adults in the U.S. live with a diagnosed mental illness. These disorders can co-occur and are one of the major disabilities found in developed countries worldwide. If left untreated, they can sometimes lead to drastic consequences, like substance abuse and suicide. 
<br><br>
Open Book’s journaling focus is not a coincidence. The University of Rochester found that keeping a journal helps with not only anxiety and depression, but also helps to prioritize and track certain thoughts and actions. By analyzing your journal entries and showing you positive and negative patterns in your thoughts, Open Book reiterates what make you happy and what doesn’t. 
<br><br>
Start Writing Today And Open A New Chapter In Your Life. 
</p>
{% endblock %}
