{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class = "homepage">
        <h2>How Was Your Day?</h2>
        <textarea name="paragraph_text" id="myText" cols="50" rows="10"></textarea>
    </div> 
    
    <div class = "text-button"> 
        <button onclick="myFunction()">Analyze</button>

    </div> 
    
    <p id="demo"></p>
</div>

    <script>
        function myFunction() {
            var x = document.getElementById("myText").value;
            // var params = "myText"+16
            var url = "http://127.0.0.1:8080/new"

            var queryParams = "?Param="+x

            window.location.href = url + queryParams

            // var goodbye = window.location.href
            // var xhttp = new XMLHttpRequest();
            //     console.log(xhttp.responseText)
            
            // return goodbye = encodeURIComponent(x);
            // // + "?QUERYPARAMNAME=" + encodeURIComponent(x);
            // //   if (this.readyState == 4 && this.status == 200)
            // xhttp.onreadystatechange = function() {
            //     if (this.readyState == 4 && this.status == 200) {
            //     // Typical action to be performed when the document is ready:
            //         console.log(responseText);
            //     };
            // xhttp.open("GET", "http://127.0.0.1:8080/", true);
            // xhttp.send();
            // };
    };
        </script>
{% endblock %}
